<div class="wrapper w-100 h-100">
  <div class="jumbotron-area">
    <div class="d-flex justify-content-end">
      <h5 class="jumbotron-title mr-3">
        Горяйнов Александр ПИбд-41
      </h5>
    </div>
    <div class="d-flex justify-content-center align-items-center w-100 h-75">
      <h1 class="jumbotron-title text-center">
        Анализ данных о поставщиках
        <br>
        телекоммуникационных услуг
      </h1>
    </div>
  </div>
  <div class="content-area px-2 py-4">
    <app-file-upload></app-file-upload>
    <app-report></app-report>
  </div>
</div>
